<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsa sunt tempore aut maiores quae illum molestias magnam labore natus id, a veniam! Excepturi alias, veritatis aspernatur asperiores corrupti mollitia.</p>

<%- include("footer") -%>